html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, #529b63, #00719a);
  font-size: 3rem;
}

main {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

slide {
  width: 75%;
}

// Image grid styling
.grid {
  display: grid;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(var(--columns), auto);
  padding: 10px;
}

.grid img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

image_container {
  position: relative;
  display: inline-block;
}

question_number {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  font-size: 40px;
  text-align: center;
}

overlay_text {
  position: absolute;
  top: 50%;
  left: 5%;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  font-size: 40px;
  text-align: center;
}

// End image grid styling

blank {
  text-decoration: underline;
  color: rgb(24, 43, 140);
}

bullets {
  text-align: left;
}

//-------

* {
  box-sizing: border-box;
  color: whitesmoke;
  font-family: sans-serif;
  overflow-wrap: anywhere;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 50px;
}

label {
  cursor: pointer;
}

input#file-upload {
  visibility: hidden;
}

#wrapper {
  width: 70%;
  margin: auto;
}

#drop-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4e8f8f;
  border: 2px dashed #fcfcfc;
  border-radius: 1rem;
}

#error-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9d1d2c;
  border: 1px dashed #fcfcfc;
  border-radius: 1rem;
}