html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, #529b63, #00719a);
  font-size: 4rem;
}

main {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

slide {
  width: 75%;
  margin: 500px;
}

blank {
  text-decoration: underline;
  color: rgb(24, 43, 140);
}

bullets {
  text-align: left;
}

//-------

* {
  box-sizing: border-box;
  color: #fff6d5;
  font-family: sans-serif;
  overflow-wrap: anywhere;
}

p {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  margin: 50px;
}

label {
  cursor: pointer;
}

input#file-upload {
  visibility: hidden;
}

a {
  font-size: 2rem;
  text-align: center;
}

#wrapper {
  width: 70%;
  margin: auto;
}

#title {
  font-size: 2rem;
  text-align: center;
}

#drop-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4e8f8f;
  border: 1px dashed #fcfcfc;
  border-radius: 1rem;
}

#error-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9d1d2c;
  border: 1px dashed #fcfcfc;
  border-radius: 1rem;
}

#drop-container i {
  font-size: 4rem;
}

.preview-tile {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
  background: #313737;
  border-radius: 1rem;
}

.preview-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}